@import url('https://rsms.me/inter/inter.css');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.row{
    padding: 50px;
    margin: auto;
}
#gameTittle{
    justify-content: center;
}
#startButton, #addWordButton, .trys {
    margin: auto;

}

